################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
**/appsettings.Development.json
/bin
bin/
.dockerignore

# Secrets
appsettings*.json
*.user
.secrets/
**/.env
.aws/
C:\Users\JDL\.aws\credentials
.gitignore
# Environment-specific configs
appsettings.json
appsettings.*.json
!appsettings.json.example
!appsettings.Development.json.example

# Secrets
secrets.json
**/.user-secrets/
.aws/
*.pem
*.pfx