################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

.vs/
.vscode/
.idea/
docker-compose*.yml
**/appsettings.Development.json
/bin
bin/
publish/
**/bin/
**/obj/
.dockerignore
*.log
Debug/
Release/
.github/copilot-instructions.md

# Secrets
appsettings*.json
*.user
.secrets/
**/.env
.aws/
C:/Users/JDL/.aws/credentials
.gitignore
launchsettings.json
# Environment-specific configs
appsettings.json
appsettings.*.json

!appsettings.json.example
!appsettings.Development.json.example

# Secrets
secrets.json
**/.user-secrets/
.aws/
*.pem
*.pfx
DarkSun.Web/Properties/launchSettings.json
DarkSun.Web/DataProtection-Keys/*.xml
/DarkSun.Web/DataProtection-Keys/*.xml
